.header{
    background-color: #00809D;
}
.login-wrap{
    background: rgba(56, 157, 170, 0.82);;
}
.plugins-tips{
    background: #f2f2f2;
}
.plugins-tips a{
    color: #007daa;
}
.el-upload--text em {
    color: #007daa;
}
.pure-button{
    background: #007daa;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #007daa !important;
    border-color: #007daa !important;
}
.tags-li.active {
    border: 1px solid #007daa;
    background-color: #007daa;
}
.collapse-btn:hover{
    background: #007daa;
}
